@page "/"
@using Engine;
@using Engine.ValueTypes
@inject IJSRuntime JsRuntime

<h1>Hex Game</h1>

GUI for the hex game stuffs

<button @onclick="@StartGame">Start the game</button>


@if (_gameHasStarted)
{

    if (_gameHasCompleted)
    {
        <h3>Winner is @_winner !</h3>
    }
    else
    {
        <h3>The Game Has Started</h3>
    }
}
